.equipListMainTitle {
    text-align: center;
    font-size: 36px;
    h1 {
        font-family: Pompadur
    }
}

@font-face {
    font-family: Pompadur;
    src: url("../Dark Souls font/Trajan Pro/Trajan-Pro-Bold.otf") format("opentype");
}

.equipListContainer {
    display: grid;
    grid-template-columns: repeat(6, 162px);
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: yellow;
    }
    a:hover {
        color: Gold;
    }
}

.weaponMain {
    margin-top: 50px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.weaponMain span {
    display: block;
    margin-top: 20px;
}

.weaponMain:hover {
    transform: scale(1.3);
}

.weaponMain button {
    background-color: #121212;
    border: whitesmoke solid 2px;
    border-radius: 15px;
}

.weaponTypeNameTitle {
    text-align: center;
    margin: 50px;
}

