.equipAddMain {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.equipAddContainer {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(5, 62px);
}

.equipAdd {
    img {
        width: 50px;
        height: 50px;
    }
}